body
{
    background-color: #a86500;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: white;
}

.navbar{
    display: flex;
    background-color: #db7900;
    border-style: solid;
    border-color: antiquewhite;
    font-size: x-large;
    color: #db7900;
    padding: 10px;
    border-radius: 50px;
    margin: 10px;
}
a{
    font-size: 30px;
    background-color: rgba(255, 149, 0, 0.406);
    color: beige;
    padding: 15px;
    border-radius: 20px;
    text-decoration: none;
}
a:hover{
    background-color: rgb(255, 233, 195);
    transition-duration: 250ms;
    color: black;
}

.accordion{
    margin: auto;
    
    padding: 10px;
    align-items: flex-start;
}

.accordion-btn{
    margin: 10px;
    background-color: #db7900;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 25px;
    transition: 0.3s;
    width: 100%;
}

.accordion-btn:hover{
    background-color: #ffbe5e;
    transition-duration: 250ms;
    color: black;
}

.accordion-content{
    max-height: 0;
    overflow: hidden;
    border-radius: 5px;
    background-color: #db7900;
    transition: max-height 0.6s ease;
    border-style: none;
    padding: 10px;
}

.accordion-content p{
    font-size:x-large;
    width: 100%;
    cursor: default;
}

.accordion-content a{
    background-color: transparent;
    transition: 1s;
}

.accordion-content a:hover{
    font-size: 35px;
}

.accordion-content.active{
    max-height: fit-content;
}

img{
    text-align: center;
    border: solid rgb(0, 0, 0);
    border-radius: 500px;
}